/*start of responsive navigation var*/
body {margin: 0;}

ul.sidenav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20%;
	position: fixed;
	height: 100%;
	overflow: auto;
	box-shadow:0em 0em 2em 0em rgb(0,0,0,0.5);
}
ul.sidenav li {
	margin:0.7vw;
}
ul.sidenav li a {
	display: block;
	color: rgb(255, 204, 0);
	padding: 8px 16px;
	text-decoration: none;
	font-size:1vw;
}

ul.sidenav li a.active {
	background:rgb(255, 204, 0);
	color:black;
	box-shadow: 0vw 0vw 1vw 0vw rgb(255, 204, 0);  
}

ul.sidenav li a:hover:not(.active) {
	background-color: rgb(255, 204, 0);
	color: black;
	font-size:1.1vw;
	transition:font-size 0.4s linear;
	box-shadow: 0vw 0vw 1vw 0vw rgb(255, 204, 0);  
}
div.content {
	margin-left: 20%;
	padding: 1px 16px;
}
@media screen and (max-width: 900px) {
	ul.sidenav {
		width: 100%;
		height: auto;
		position: relative;
	}
	
	ul.sidenav li a {
		float: left;
		padding: 15px;
	}
	
	div.content {
		margin-left:0;
	}
}

@media screen and (max-width: 400px) {
	ul.sidenav li a {
		text-align: center;
		float: none;
	}
	div.content {
		margin-left: 0;
	}
}
/*end of responsive navigation var*/
/*My account nav */
#accountNav {
	list-style-type:none;
	padding:0;
	width:80%;
	margin:auto;
}
ul#accountNav li a.active {
	background:black;
	color:rgb(255, 204, 0);
	box-shadow: 0vw 0vw 1vw 0vw rgb(255, 204, 0);  
}
#accountNav li a:hover:not(.active) {
	background: black;
	color: rgb(255, 204, 0);
	font-size:1.1vw;
	transition:font-size 0.4s linear;
	box-shadow: 0vw 0vw 1vw 0vw rgb(255, 204, 0);  
}

/*My account nav end*/
div.content {
	font-size:1.3vw;
	line-height:3vw;
}
b{
	font-size:1.5vw;
}
.Center {
	display: flex;              
	flex-direction: column;     
	justify-content: center;    
	align-items: center;  
	text-align:center;
}
.RB {
	border-radius:5vw;
	padding:2vw;
	margin:3vw;
	text-align:justify;
	width:75%;
	box-shadow:0vw 0vw 2vw 0vw rgb(0, 0, 0.8);
	color:rgb(255, 204, 0);
}
.RBY  {
	border-radius:5vw;
	padding:1vw 2vw 1vw 2vw;
	margin:3vw;
	text-align:justify;
	width:75%;
	box-shadow:0vw 0vw 2vw 0vw rgb(255, 204, 0,0.5);
	background:rgb(255, 204, 0);
	color:black;
}
.BRB, button {
	border-radius:5vw;
	padding:1vw 2vw 1vw 2vw;
	box-shadow:0vw 0vw 2vw 0vw rgb(0,0,0,0.5);
}
.BRBY {
	border-radius:5vw;
	padding:1vw 2vw 1vw 2vw;
	color:black;
	box-shadow:0vw 0vw 2vw 0vw rgb(255, 204, 0,0.5);
	background:rgb(255, 204, 0);
}

.BRB:hover{
	text-decoration:none;
	transition:box-shadow 0.4s linear, font-size 0.4s;
	box-shadow:0vw 0vw 2vw 0vw rgb(0,0,0);
	font-size:1.5vw;
	font-weight:bolder;
	color:rgb(255, 204, 0);
}
a:hover{
	text-decoration:none;
	transition:box-shadow 0.4s linear, font-size 0.4s;
	box-shadow:0vw 0vw 2vw 0vw rgb(0,0,0);
	font-size:1.1vw;
	font-weight:bolder;
	color:rgb(255, 204, 0);
}
.BRBY:hover{
	text-decoration:none;
	transition:box-shadow 0.4s linear, font-size 0.4s;
	box-shadow:0vw 0vw 2vw 0vw rgb(0,0,0);
	font-size:1.1vw;
	font-weight:bolder;
	color:black;
}
.booking:hover {
		box-shadow:0vw 0vw 2vw 0vw rgb(255, 204, 0,0.5);
		font-size:1.5vw;
}
.booking {
		transition:box-shadow 0.6s linear, font-size 0.6s;
}

/*MY PROFILE STYLE*/
#profile{
	border-radius:2em;
	padding:2vw;
	margin:3vw;
	text-align:justify;
	width:75%;
	background:rgb(255, 204, 0,0.9);
	box-shadow:0vw 0vw 2vw 0vw rgb(255, 204, 0,0.5);
	color:black;
}
#profile img{
	border-radius:5vw;
	box-shadow:0vw 0vw 2vw 0vw rgb(0,0,0);
	margin:2vw;
}
/*END OF PROFILE STYLE*/
/*Modify data*/
#data .row{ 
	border-radius:5vw;
	padding:1vw;
	margin:2vw;
	text-align:justify;
	width:100%;
	box-shadow:0vw 0vw 2vw 0vw rgb(0, 0, 0.8);
	background:rgb(0,0,0);
	color:rgb(255, 204, 0);

}
input[type="text"], #data input[type="date"], input[type="number"],#data input[type="tel"],#data input[type="email"],#data input[type="datetime-local"] {
	border-radius:5vw;
	border:none;
	outline:none;
	background:linear-gradient(rgb(0, 0, 0,0.1),rgb(0, 0, 0,0.3),rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.7),rgb(0, 0, 0),rgb(0, 0, 0,0.7),rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.3),rgb(0, 0, 0,0.1));  
	color:rgb(255, 204, 0);
	padding:1vw;
	text-align:center;
	transition:box-shadow 0.4s linear; 
}
#data input[type="password"]:focus,input[type='text']:focus,#data input[type="date"]:focus, input[type="number"]:focus,#data input[type="tel"]:focus,#data input[type="email"]:focus,#data input[type="datetime-local"]:focus{
	box-shadow:0vw 0vw 1vw 0vw rgb(0, 0, 0.4);
}
input[type='submit'] {
	border-radius:5vw;
	border:none;
	outline:none;
	box-shadow: 0em 0em 0.5em 0em rgb(255, 204, 0);  
	background-image:linear-gradient(rgb(255, 204, 0,0.5),rgb(255, 204, 0),rgb(255, 204, 0,0.5));  
	color:black;
	width:auto;
	margin:1em 0.5em 0em 0.5em;
	transition:box-shadow 0.4s linear;
}
input[type='submit']:hover{
	font-weight:bolder;
	box-shadow: 0em 0em 1em 0em rgb(255, 204, 0);  
}
/*Modify data end*/


/*select style*/
/* The container must be positioned relative: */
.custom-select {
	border-radius:5vw;
	border:none;
	outline:none;
	box-shadow: 0em 0em 0.5em 0em rgb(0, 0, 0); 
	color:rgb(255, 204, 0);
	background:linear-gradient(rgb(0, 0, 0,0.1),rgb(0, 0, 0,0.3),rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.7),rgb(0, 0, 0),rgb(0, 0, 0,0.7),rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.3),rgb(0, 0, 0,0.1));  
}

.custom-select:hover {
	font-weight:bolder;
	box-shadow: 0em 0em 0.5em 0em rgb(0, 0, 0);    
}

/*End of select style*/
