/*Properties applied to all the web page*/
body {
	margin: 0;
	padding: 0;
	background: url(../images/honeyBlur.png) no-repeat;
	background-size: cover;
	color:rgb(255, 255, 255);
}
/*Size and alignment of the titles*/
h1 {
	margin-top:2.5em;
	margin-bottom: 0.5em;
	font-size: calc(3.5em + 0.6vw);
	text-align: center;
}
/*Properties of the subtitles*/
h2 {
	font-size: calc(1em + 0.6vw); 
	padding:1em 0em 1em 0em;
	color:black;
	text-align: center;
	font-weight: bold;
}
p {
	text-align: justify;
}
.erlete {
	background:rgb(0, 0, 0,0.5);
	padding:0.5em 0 0.5em 0;
	margin: 0 0 0 20%;
	width: 80%;
	float: right;
	position: fixed;
	transition:box-shadow 0.4s linear, font-size 0.4s linear;
}
.erlete:hover {
	box-shadow: 0em 0em 2em 0em rgb(255, 255, 255,0.5); 
	font-size: calc(3.7em + 0.6vw);
}
.fullW {
	margin:0;
	width: 100%;
}
/*start of responsive navigation var in the maximum size of the window*/
/*properties of the unordered list of the nav var that will contain the links to the sites*/
ul.sidenav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20%;
	position: fixed;
	height: 100%;
	overflow: auto;
	box-shadow:0em 0em 2em 0em rgb(0,0,0,0.5);
	background:rgb(0, 0, 0,0.5);

}
.accountnav {
	background: rgb(255,255,255,0.4);
}
/*Properties of the navigation var with the links of the profile page*/
/* Properties common to the links of both nav vars*/
ul.sidenav li a {
	display: block;
	padding: 0.7em;
	text-decoration: none;
	font-size: calc(0.6em + 0.6vw);
	color:rgb(255, 255, 255,0.5);
	transition:font-size 0.4s linear;
}
/* Properties that will have the link when the user is in that page to highlight it*/
ul.sidenav li a.active{
	color:rgb(0, 0, 0);
	box-shadow: 0em 0em 1em 0em rgb(0, 0, 0,0.8);  
	background-color: rgb(255, 255, 255,0.7);
}

/*Properties that will be aplied when the user draggs the mouse over the links*/
ul.sidenav li a:hover:not(.active) {
	color:rgb(0, 0, 0);
	box-shadow: 0em 0em 1em 0em rgb(0, 0, 0,0.8);  
	font-size: calc(0.65em + 0.6vw);
	background-color: rgb(255, 255, 255,0.7); 
}
/*Properties applied to the content of each page*/
div.content {
	width: 100%;
	font-size: calc(0.7em + 0.5vw);
	line-height: 2.2em;
	text-align: justify;
}
.addMargin {
	width: 80%;
	margin-left:10%;
}
.modify {
	width: 50%;
}
/*Properties that will be applied when the user draggs the mouse over the links that will make actions in the web page*/
a:hover{
	box-shadow: 0em 0em 1em 0em rgb(255, 255, 255,0.3);  
	font-size: calc(0.5em + 0.6vw);
	color:rgb(255, 255, 255);
	text-decoration: none;
}
/*a class that will be applied to make the rows responsive when the page becomes smaller*/
.rows {
	margin: 1em;
	padding:1em;
	display:flex;
	flex-direction: row;
	font-size: calc(0.5em + 0.5vw);
	width: 60%;
	box-shadow:0em 0em 2em 0em rgb(0, 0, 0,0.5);
	background-color: rgb(0, 0, 0,0.8);

}
/* class applied to the elements in the rows class for them to be aligned centered and equaly*/
.row {
	flex: 100%;
	justify-content: center;    
	align-items: center;  
	text-align:center;
}
/**/
.booking:hover{
	box-shadow: 0em 0em 1em 0em rgb(255, 255, 255,0.3);
	color:rgb(255, 255, 255);  
}
/* class that will be applied to the elements that will be displayed as rows in full page and columns in small devices*/
#index .columns, #info .columns{
	display:flex;
	flex-direction: row;
	width:60%;
	margin:auto;
	justify-content: center;    
	align-items: flex-start;  
	text-align:center;
}
.columns, .columns2 {
	display:flex;
	flex-direction: row;
	width: 100%;
	margin:auto;
	justify-content: center;    
	align-items: flex-start; 
	text-align:center;	
}

/* class to modify the style of the title of the comments in the forum (name, surname, date))*/
.forumR1 {
	padding:1em;
	margin:1em;
	box-shadow:1em 0em 2em 0em rgb(0, 0, 0,0.5);
	background-color: rgb(0, 0, 0,0.8);
	flex:2;
	text-align: justify;
}
/* class applied to display the text of the message left in full page and under the data of the user in small devices*/
.forumL1 {
	padding:1em;
	margin:1em;
	color: black;
	box-shadow:0em 0em 2em 0em rgb(0, 0, 0,0.5);
	background-color: rgb(255, 255, 255,0.7);
	text-align: justify;
}
.forumR2 {
	padding:1em;
	margin:1em;
	color: black;
	box-shadow:0em 0em 2em 0em rgb(0, 0, 0,0.5);
	background-color: rgb(255, 255, 255,0.7);
	text-align: justify;
}
/* class applied to display the text of the message left in full page and under the data of the user in small devices*/
.forumL2 {
	padding:1em;
	margin:1em;
	box-shadow:1em 0em 2em 0em rgb(0, 0, 0,0.5);
	background-color: rgb(0, 0, 0,0.8);
	flex: 2;
	text-align: justify;
}

/* class to center the elements that contains*/
.Center {
	display: flex;              
	flex-direction: column;     
	justify-content: center;    
	align-items: center;  
	text-align:center;
}
/* class to give style to the elements of forms, information...*/
.RB {
	padding:2em 1em 2em 1em;
	margin:1em;
	margin-bottom: 2em;
	color:black;
	box-shadow:0em 0em 2em 0em rgb(0, 0, 0,0.5);
	background-color: rgb(255, 255, 255,0.7);
}
/* class to give style to the links that will make actions*/
.BRB {
	border-radius:5em;
	margin-top:1em;
	padding:1em 2em 1em 2em;
	box-shadow:0em 0em 2em 0em rgb(0,0,0, 0.2);
	background:rgb(0,0,0,0.7);
	color:rgb(255, 255, 255,0.5);
	transition:box-shadow 0.4s linear, font-size 0.4s linear, color 0.4s linear;
}
.BRB:hover, input[type='submit']:hover {
	box-shadow: 0em 0em 3em 0em rgb(0, 0, 0,0.7);
	font-size: calc(0.5em + 0.5vw);
	color: white;
}

/*Start of Forum*/
input[type='submit'] {
	border:none;
	outline:none;
	border-radius:5em;
	padding:1em 2em 1em 2em;
	box-shadow:0em 0em 2em 0em rgb(0,0,0);
	background:linear-gradient(rgb(255, 255, 255,0.1),rgb(255, 255, 255,0.3),rgb(255, 255, 255,0.4),rgb(255, 255, 255,0.5),rgb(255, 255, 255,0.4),rgb(255, 255, 255,0.3),rgb(255, 255, 255,0.1));  
	color:black;
}
textarea{
	width:30em;
	margin:auto;
	margin-bottom: 2em;
	height: 10em;
	border-radius:5em;
	border:none;
	outline:none;
	color:white; 
	font-size: calc(0.8em + 1vw);
	background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.2),rgb(0,0,0,0.3),rgb(0,0,0,0.4),rgb(0,0,0,0.4),rgb(0,0,0,0.3),rgb(0,0,0,0.2),rgb(0,0,0,0.1));  
	text-align:justify;
	transition:box-shadow 0.6s linear, background-color 0.6s linear; 
}
textarea:focus, textarea:hover {
	box-shadow:0em 0em 1em 0em rgb(255, 255, 255, 0.5); 
	background: rgb(0, 0, 0,0.7);
}

/*End of Forum*/
/*calendar CSS*/
.fc-event-title-container{
	background-color: rgb(0, 0, 0);
	text-align: center;
}
.fc-toolbar-title {
	color: white;
}
#calendar {
	width:65%;
	margin:0 auto;
	border:rgb(0, 0, 0);
	background-color: rgb(255, 255, 255,0.3);
}
.fc-daygrid-day-number, .fc-col-header-cell-cushion  {
	color:black;
}
/*End calendar
/*Start of modify form*/
input[type="email"],input[type="password"], input[type="text"], input[type="number"], input[type='tel'] {
	border-radius:5vw;
	border:none;
	outline:none;
	background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.2),rgb(0,0,0,0.3),rgb(0,0,0,0.4),rgb(0,0,0,0.3),rgb(0,0,0,0.2),rgb(0,0,0,0.1));  
	color:black;
	padding:1em;
	text-align:center;
	transition:box-shadow 0.4s linear, background-color 0.4s linear;
}

.custom-select,input[type="password"]:focus,input[type="email"]:focus,input[type="text"]:focus, input[type="number"]:focus, input[type='tel']:focus, input[type="date"]:hover {
	box-shadow: 0em 0em 1em 0em rgb(0, 0, 0,0.5);
	background:rgb(0,0,0,0.8);
	color:white;
}
/* style applied to all inputs when the user draggs the mouse on them*/
input:hover, .custom-select:hover, option:hover {
	box-shadow: 0em 0em 1em 0em rgb(0, 0, 0,0.5);
	background:rgb(0,0,0,0.8);
	color:rgb(255, 255, 255);
}
/*take off the list of the input number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
/*End of modify form*/
/*adjust the width of the video*/
	iframe {
		width: 50em;
		margin: auto;
		height: 20em;
	}
	#profile img {
		width: 20em;
	}
	.login {
		width: 35%;
	}
/* style that will be applied to all the web page for Small devices like mobile tablets*/
@media screen and (max-width: 1000px) {
	.erlete {
		clear: right;
		background:rgb(0, 0, 0,0.5);
		margin: 0;
		width: 100%;
		font-size: calc(3.5em + 1vw);
		position: static;
	}
	.fullW{
		margin:0;
		width: 100%;
	}
	.RB {
		width: 95%;
		margin: auto;
		margin-bottom: 5em;
	}
	ul.sidenav {
		width: 100%;
		position: static;
	}
	
	ul.sidenav li a {
		float: left;
		padding:1.5em 1em 1.5em 1em;
		font-size:calc(0.5em + 1vw);
		transition: box-shadow 0.4s linear, font-color 0.4s linear;
	}

	ul.sidenav li a:hover:not(.active) {
		font-size:calc(0.5em + 1vw);
		color:rgb(255, 255, 255);
		box-shadow: 0em 0em 1em 0em rgb(255, 255, 255,0.4); 

	}

	div.content {
		padding: 0;
		width: 100%;
		margin: 0;
		font-size: calc(0.5em + 1vw);
		line-height: 2em;
	}
	.addMargin {
		margin: 0;
		width: 100%;
	}
	.rows {
		font-size: calc(0.5em + 1vw);
		width: 90%;
	}
	h1 {
		margin-top: 0.5em;
		font-size: calc(3em + 1vw);
	}
	h2 {
		font-size: calc(1em + 1vw); 
		margin-top:1em;
		padding:0em 0em 0.5em 0em;
	}
	a:hover {
		box-shadow: 0em 0em 1em 0em rgb(255, 255, 255,0.3);  
		font-size: calc(0.6em + 1vw);
		color:rgb(255, 255, 255);
		text-decoration: none;
	}
	#index .columns, .columns, #info .columns {
		display:flex;
		flex-direction: column;
		width: 90%;
		margin:auto;
		text-align: center;
	}

	.columns2 {
		display:flex;
		flex-direction: column-reverse;
		align-items: flex-end;
		width: 90%;
		margin:auto;
		text-align: center;
	}

	#calendar {
		width:90%;
		height: 100%;
	}
	textarea {
		width: 30em;
	}
	.BRB:hover, input[type='submit']:hover {
		box-shadow: 0em 0em 3em 0em rgb(0, 0, 0,0.7);
		font-size: calc(0.6em + 1vw);
		color: white;
	}

	iframe {
		width: 40em;
	}
	.login {
		width: 75%;
	}
/*Style that will be applied to even smaller devices*/
@media screen and (max-width: 500px) {
	.erlete {
		padding:0.5em;
		display: fixed;
		width: 100%;
	}
	ul.sidenav li a {
		text-align: center;
		float: none;
		font-size: calc(0.7em + 1vw);
		transition: font-size 0.4s linear, box-shadow 0.4s linear;
	}
	.container {
		font-size: calc(0.7em + 1vw);
	}
	/*Properties that will be aplied when the user draggs the mouse over the links*/
	ul.sidenav li a:hover:not(.active) {
		color:rgb(255, 255, 255);
		font-size: calc(0.8em + 1vw);
		box-shadow: 0em 0em 1em 0em rgb(255, 255, 255,0.4); 
	}
	div.content, .fc .fc-toolbar-title {
		margin:0;
		width: 100%;
		font-size: calc(0.5em + 1vw);
		color:rgb(255, 255, 255,0.9);
	}

	h1 {
		font-size: calc(2.5em + 1vw);
		}
	.BRB {
		color:rgb(255, 255, 255);
		box-shadow: 0em 0em 1em 0em rgb(255, 255, 255,0.3);  
	}
	#calendar {
		width:100%;
		height: 100%;
	}
	iframe {
		width: 100%;
	}
	.login {
		width: 90%;
	}
}
/*end of responsive navigation var*/



