/*start of responsive navigation var*/
body{
	font-size: calc(0.5em + 0.6vw);
	line-height: 2.2em;
	margin:7% 30% 5% 30%;
}
h1 {
	font-size: calc(4em + 0.6vw);
}
h2 {
	font-size: calc(1em + 0.6vw); 
	margin-top:1vw;
	padding:1em 0em 1em 0em;
}
a:hover{
	box-shadow:0em 0em 2em 0em rgb(0,0,0);
	font-size: calc(0.7em + 0.5vw);
	transition:box-shadow 0.4s linear, font-size 0.4s;
	color:rgb(255, 204, 0);
	text-decoration: none;
}
input{
	width:90%;
}
/*Small devices like mobile phones*/
@media screen and (max-width: 900px) {
	
	h1 {
	font-size: calc(4.2em + 1vw);
}
h2 {
	font-size: calc(1em + 1vw); 
	margin-top:1em;
	padding:0em 0em 0.5em 0em;
}
body{
	font-size: calc(0.7em + 1vw);
	line-height: 2em;
	margin:7% 8% 5% 8%;
}
input{
	width:90%;
}

}


/*end of responsive navigation var*/

.Center {
	display: flex;              
	flex-direction: column;     
	justify-content: center;    
	align-items: center;  
	text-align:center;
}
.RB {
	border-radius:2em;
	padding:1em;
	margin:2em;
	text-align:justify;
	width:75%;
	box-shadow:0em 0em 1em 0em rgb(255, 204, 0,0.2);
}

.RBY  {
	border-radius:5em;
	padding:0.5em;
	margin:0.5em;
	text-align:justify;
	box-shadow:0em 0em 2em 0em rgb(0, 0, 0,0.1);
	background:rgb(255, 204, 0);
	color:black;
	width:75%;
}
.BRB {
	border-radius:5em;
	padding:1em 2em 1em 2em;
	margin:2em;
	box-shadow:0em 0em 2em 0em rgb(0,0,0,0.5);
	color:rgb(255, 204, 0);
	transition:box-shadow 0.4s linear, font-size 0.4s

}

.BRBY {
	border-radius:5em;
	padding:1em 2em 1em 2em;
	color:black;
	box-shadow:0em 0em 2em 0em rgb(255, 204, 0,0.3);
	background:rgb(255, 204, 0);
	transition:box-shadow 0.4s linear, font-size 0.4s;
}
.BRBY:hover{
	
}

/*Start of login form*/
input[type="email"],input[type="password"]  {
	border-radius:5vw;
	border:none;
	outline:none;
	background:linear-gradient(rgb(255, 204, 0,0.1),rgb(255, 204, 0,0.3),rgb(255, 204, 0,0.5),rgb(255, 204, 0,0.7),rgb(255, 204, 0),rgb(255, 204, 0,0.7),rgb(255, 204, 0,0.5),rgb(255, 204, 0,0.3),rgb(255, 204, 0,0.1));  
	color:black;
	text-align:center;
	margin: 0 auto;
	padding:0.5em;
}

input[type="text"]{
	border-radius:5vw;
	border:none;
	outline:none;
	background:linear-gradient(rgb(0, 0, 0,0.1),rgb(0, 0, 0,0.3),rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.7),rgb(0, 0, 0),rgb(0, 0, 0,0.7),rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.3),rgb(0, 0, 0,0.1));  
	color:rgb(255, 204, 0);
	text-align:center;
	transition:box-shadow 0.4s linear; 
}
{
	box-shadow:0vw 0vw 1vw 0vw rgb(0, 0, 0.4);
}
input[type="password"]:focus,input[type="email"]:focus{
	transition:box-shadow 0.8s;
	box-shadow: 0em 0em 1em 0em black; 
}
input[type='submit'] {
	border-radius:5vw;
	border:none;
	outline:none;
	box-shadow: 0em 0em 0.5em 0em rgb(255, 204, 0);  
	background-image:linear-gradient(rgb(255, 204, 0,0.5),rgb(255, 204, 0),rgb(255, 204, 0,0.5));  
	color:black;
	padding:1vw 2vw 1vw 2vw;
	width:auto;
}
input[type='submit']:hover{
	font-weight:bolder;
	box-shadow: 0em 0em 1em 0em rgb(255, 204, 0);  
}
/*End of login form*/

/*Start of Forum*/
textarea{
	width:30em;
	margin:auto;
	height: 10em;
	border-radius:5em;
	border:none;
	outline:none;
	background:linear-gradient(rgb(0, 0, 0,0.1),rgb(0, 0, 0,0.3),rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.6),rgb(0, 0, 0,0.7),rgb(0, 0, 0,0.6),rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.3),rgb(0, 0, 0,0.1));  
	color:rgb(255, 204, 0);
	text-align:center;
	transition:box-shadow 0.4s linear; 
}
textarea:focus {
	box-shadow: 0em 0em 0.5em 0em rgb(255, 204, 0,0.5);  
}
/*End of Forum*/