/*start of responsive navigation var*/
body {
	margin: 0;
}

ul.sidenav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20%;
	position: fixed;
	height: 100%;
	overflow: auto;
	box-shadow:0em 0em 2em 0em rgb(0,0,0,0.5);
}

ul.sidenav li a {
	display: block;
	color: rgb(255, 204, 0);
	padding: 0.7em;
	text-decoration: none;
	font-size: calc(0.8em + 0.6vw);
}

ul.sidenav li a.active {
	background:rgb(255, 204, 0);
	color:black;
	box-shadow: 0vw 0vw 1vw 0vw rgb(255, 204, 0);  
}

ul.sidenav li a:hover:not(.active) {
	background-color: rgb(255, 204, 0);
	color: black;
	box-shadow: 0vw 0vw 1vw 0vw rgb(255, 204, 0);  
	font-size: calc(0.9em + 0.6vw);
	transition:font-size 0.4s linear;
}

div.content {
	margin-left:20%;
	font-size: calc(0.5em + 0.6vw);
	line-height: 2.2em;
}

#title {
	width:100%;
	text-shadow: 0.1em 0.1em 0.1em black;
	padding: 1.5em  0.5em;
	margin: 0em 1em 2em 1em;
}
h1 {
	font-size: calc(2.8em + 0.6vw);
}
h2 {
	font-size: calc(1em + 0.6vw); 
	margin-top:1vw;
	padding:1em 0em 1em 0em;
}
a:hover, .BRB:hover, .BRBY:hover{
	box-shadow:0em 0em 2em 0em rgb(0,0,0);
	font-size: calc(0.6em + 0.6vw);
	transition:box-shadow 0.4s linear, font-size 0.4s;
	color:rgb(255, 204, 0);
	text-decoration: none;
}
/*Small devices like mobile phones*/
@media screen and (max-width: 900px) {
	ul.sidenav {
		width: 100%;
		height: auto;
		position: relative;
	}
	
	ul.sidenav li a {
		float: left;
		padding: 1em;

	}
	
	div.content {
		margin-left: 0;
		font-size: calc(0.7em + 1vw);
		line-height: 2em;
	}
	h1 {
	font-size: calc(4.2em + 1vw);
}
h2 {
	font-size: calc(1em + 1vw); 
	margin-top:1em;
	padding:0em 0em 0.5em 0em;
}
a:hover, .BRB:hover, .BRBY:hover{
	box-shadow:0em 0em 2em 0em rgb(0,0,0);
	font-size: calc(0.8em + 1vw);
	transition:box-shadow 0.4s linear, font-size 0.4s;
	color:rgb(255, 204, 0);
	text-decoration: none;
}

}

@media screen and (max-width: 400px) {
	ul.sidenav li a {
		text-align: center;
		float: none;

	}
	div.content {
		margin-left: 0;

	}
}
/*end of responsive navigation var*/



.Center {
	display: flex;              
	flex-direction: column;     
	justify-content: center;    
	align-items: center;  
	text-align:center;
}
.RB {
	border-radius:2em;
	padding:1em;
	margin:2em;
	text-align:justify;
	width:75%;
	box-shadow:0em 0em 1em 0em rgb(255, 204, 0,0.2);
}

.RBY  {
	border-radius:5em;
	padding:0.5em;
	margin:0.5em;
	text-align:justify;
	box-shadow:0em 0em 2em 0em rgb(0, 0, 0,0.1);
	background:rgb(255, 204, 0);
	color:black;
	width:75%;
}
.BRB {
	border-radius:5em;
	padding:1em 2em 1em 2em;
	margin:2em;
	box-shadow:0em 0em 2em 0em rgb(0,0,0,0.5);
	color:rgb(255, 204, 0);
	transition:box-shadow 0.4s linear, font-size 0.4s

}

.BRBY {
	border-radius:5em;
	padding:1em 2em 1em 2em;
	color:black;
	box-shadow:0em 0em 2em 0em rgb(255, 204, 0,0.3);
	background:rgb(255, 204, 0);
	transition:box-shadow 0.4s linear, font-size 0.4s;
}
.BRBY:hover{
	
}

/*Start of login form*/
input[type="email"] {
	border-radius:5vw;
	border:none;
	outline:none;
	background:linear-gradient(rgb(255, 204, 0,0.1),rgb(255, 204, 0,0.3),rgb(255, 204, 0,0.5),rgb(255, 204, 0,0.7),rgb(255, 204, 0),rgb(255, 204, 0,0.7),rgb(255, 204, 0,0.5),rgb(255, 204, 0,0.3),rgb(255, 204, 0,0.1));  
	color:black;
	text-align:center;
	margin: 0 auto;
}
input[type="password"] {
	border-radius:5vw;
	border:none;
	outline:none;
	background:linear-gradient(rgb(255, 204, 0,0.1),rgb(255, 204, 0,0.3),rgb(255, 204, 0,0.5),rgb(255, 204, 0,0.7),rgb(255, 204, 0),rgb(255, 204, 0,0.7),rgb(255, 204, 0,0.5),rgb(255, 204, 0,0.3),rgb(255, 204, 0,0.1));  
	color:black;
	text-align:center;
	margin: 0 auto;
}
input[type="text"]{
	border-radius:5vw;
	border:none;
	outline:none;
	background:linear-gradient(rgb(0, 0, 0,0.1),rgb(0, 0, 0,0.3),rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.7),rgb(0, 0, 0),rgb(0, 0, 0,0.7),rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.3),rgb(0, 0, 0,0.1));  
	color:rgb(255, 204, 0);
	text-align:center;
	transition:box-shadow 0.4s linear; 
}
input[type="text"]:focus{
	box-shadow:0vw 0vw 1vw 0vw rgb(0, 0, 0.4);
}
input[type="password"]:focus,input[type="email"]:focus{
	transition:box-shadow 0.8s;
	box-shadow: 0em 0em 1em 0em black; 
}
input[type='submit'] {
	border-radius:5vw;
	border:none;
	outline:none;
	box-shadow: 0em 0em 0.5em 0em rgb(255, 204, 0);  
	background-image:linear-gradient(rgb(255, 204, 0,0.5),rgb(255, 204, 0),rgb(255, 204, 0,0.5));  
	color:black;
	padding:1vw 2vw 1vw 2vw;
	width:auto;
	margin:1em 0.5em 0em 0.5em;
}
input[type='submit']:hover{
	font-weight:bolder;
	box-shadow: 0em 0em 1em 0em rgb(255, 204, 0);  
}
.login {
	margin-top:5%;
	box-shadow: 0vw 0vw 2vw 0vw rgb(255, 204, 0);
	width:50%;
	border-radius:5vw;
	height:40vw;
}
/*End of login form*/

/*Start of Forum*/
textarea{
	width:30em;
	margin:auto;
	height: 10em;
	border-radius:5em;
	border:none;
	outline:none;
	background:linear-gradient(rgb(0, 0, 0,0.1),rgb(0, 0, 0,0.3),rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.6),rgb(0, 0, 0,0.7),rgb(0, 0, 0,0.6),rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.3),rgb(0, 0, 0,0.1));  
	color:rgb(255, 204, 0);
	text-align:center;
	transition:box-shadow 0.4s linear; 
}
textarea:focus {
	box-shadow: 0em 0em 0.5em 0em rgb(255, 204, 0,0.5);  
}
/*End of Forum*/