<<<<<<< HEAD
.Center {
	display: flex;              
    flex-direction: column;     
    justify-content: center;    
    align-items: center;  
	text-align:center;
}
.RB {
	border-radius:5vw;
	padding:3vw;
	margin:2vw;
}
.BRB {
	border-radius:5vw;
	padding:2vw;
	margin:2vw;
}
p {
	font-size:2vw;
	line-height:5vw;
}
h2{
	font-size:4vw;
	margin:3vw;
=======
.Center {
	display: flex;              
    flex-direction: column;     
    justify-content: center;    
    align-items: center;  
	text-align:center;
}
.RB {
	border-radius:5vw;
	padding:3vw;
	margin:2vw;
}
.BRB {
	border-radius:5vw;
	padding:2vw;
	margin:2vw;
}
input[type='text'] {
	border-radius:5vw;
	padding:1vw;
	margin:2vw;
	outline:none;
}
input[type='password'] {
	border-radius:5vw;
	padding:1vw;
	margin:2vw;
	outline:none;
}
input[type='submit'] {
	border-radius:5vw;
	padding:1vw;
	margin:2vw;
	outline:none;
}
p {
	font-size:1.75vw;
	line-height:5vw;
}
h2 {
	font-size:5vw;
	margin:3vw;
	font-weight:normal;
}
nav a:hover {
	
>>>>>>> 37d660a2072fc2a3febe5c01ee49526d60fa3301
}