p, button {
	font-size:3vw;
	line-height:5vw;
}
h1 {
	font-size:15vw;
	text-shadow: 0.1em 0.1em 0.2em rgb(255, 204, 0); 
}
h2 {
	font-size:6vw;
	margin:3vw;
	font-weight:normal;
	text-shadow: 0.1em 0.1em 0.2em rgb(0,0,0); 
}
.Center {
	display: flex;              
    flex-direction: column;     
    justify-content: center;    
    align-items: center;  
	text-align:center;
}
.RB {
	border-radius:5vw;
	padding:3vw;
	margin:2vw;
}
.BRB {
	border-radius:5vw;
	padding:3vw 6vw 3vw 6vw;
	margin:2vw;
}
input[type='text'] {
	border-radius:5vw;
	border:none;
	padding:1vw;
	outline:none;
	background:linear-gradient(rgb(255, 204, 0,0.1),rgb(255, 204, 0,0.3),rgb(255, 204, 0,0.5),rgb(255, 204, 0,0.7),rgb(255, 204, 0),rgb(255, 204, 0,0.7),rgb(255, 204, 0,0.5),rgb(255, 204, 0,0.3),rgb(255, 204, 0,0.1));  
	color:black;
}
input[type='password'] {
	border-radius:5vw;
	border:none;
	padding:1vw;
	outline:none;
	background:linear-gradient(rgb(255, 204, 0,0.1),rgb(255, 204, 0,0.3),rgb(255, 204, 0,0.5),rgb(255, 204, 0,0.7),rgb(255, 204, 0),rgb(255, 204, 0,0.7),rgb(255, 204, 0,0.5),rgb(255, 204, 0,0.3),rgb(255, 204, 0,0.1));  
	color:black;
}
input[type='submit'] {
	border-radius:5vw;
	border:none;
	padding:1vw;
	margin:2vw;
	outline:none;
	box-shadow: 0px 0px 15px 0px rgb(255, 204, 0);
	background-image:linear-gradient(rgb(255, 204, 0,0.5),rgb(255, 204, 0),rgb(255, 204, 0,0.5));  
	color:black;
	font-size:5vw;
}
input[type='submit']:hover{
	transition:font-size 0.5s;
	font-size:7vw;
	font-weight:bolder;
	text-shadow: 0.1em 0.1em 0.2em rgb(0,0,0); 
}
.actual {
	border-radius:5vw;
	background:rgb(255, 204, 0);
	box-shadow: 0px 0px 30px 0px rgb(255, 204, 0);  
}

div, .btn{
	box-shadow: 0px 0px 30px 0px black;
}
nav li {
	font-size:2vw;
	background:rgb(255, 204, 0,0.7);
	margin:0vw 1vw 0vw 1vw;
	border-radius:5vw;
}
nav li a {
	color:black;
}
nav li:hover{
	border-radius:5vw;
	box-shadow: 0px 0px 30px 0px rgb(255, 204, 0); 
}
a:hover {
	transition:font-size 0.4s;
	font-size:2.2vw;
	font-weight:bolder;
	color:black; 
	border-radius:5vw; 
	text-shadow: 0.1em 0.1em 0.2em rgb(255, 204, 0); 
}
